<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
  </div>
<% end %>

<%= simple_form_for(@user) do |f| %>

  <%= f.input :first_name %>
  <br />
  <%= f.input :last_name %>

  <div class="actions">
    <%= f.button "submit" %>
  </div>
<% end %>
